{
  "openapi": "3.0.0",
  "info": {
    "version": "v0.0.1",
    "title": "Dokumentasi API ACARA",
    "description": "Dokumentasi API ACARA"
  },
  "servers": [
    {
      "url": "https://subs.haikaldev.my.id/api",
      "description": "Deploy Server"
    },
    {
      "url": "http://localhost:3000/api",
      "description": "Local Server"
    }
  ],
  "paths": {
    "/auth/register": {
      "post": {
        "tags": [
          "Auth"
        ],
        "description": "",
        "responses": {
          "200": {
            "description": "OK"
          },
          "400": {
            "description": "Bad Request"
          }
        },
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "fullName": {
                    "example": "any"
                  },
                  "username": {
                    "example": "any"
                  },
                  "email": {
                    "example": "any"
                  },
                  "password": {
                    "example": "any"
                  },
                  "confirmPassword": {
                    "example": "any"
                  }
                }
              }
            }
          }
        }
      }
    },
    "/auth/login": {
      "post": {
        "tags": [
          "Auth"
        ],
        "description": "",
        "responses": {
          "200": {
            "description": "OK"
          },
          "400": {
            "description": "Bad Request"
          },
          "403": {
            "description": "Forbidden"
          }
        },
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/LoginRequest"
              }
            },
            "application/xml": {
              "schema": {
                "$ref": "#/components/schemas/LoginRequest"
              }
            }
          }
        }
      }
    },
    "/auth/me": {
      "get": {
        "tags": [
          "Auth"
        ],
        "description": "",
        "parameters": [
          {
            "name": "authorization",
            "in": "header",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK"
          },
          "400": {
            "description": "Bad Request"
          },
          "403": {
            "description": "Forbidden"
          }
        },
        "security": [
          {
            "bearerAuth": []
          }
        ]
      }
    },
    "/auth/activation": {
      "post": {
        "tags": [
          "Auth"
        ],
        "description": "",
        "responses": {
          "200": {
            "description": "OK"
          },
          "400": {
            "description": "Bad Request"
          }
        },
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/ActivationRequest"
              }
            },
            "application/xml": {
              "schema": {
                "$ref": "#/components/schemas/ActivationRequest"
              }
            }
          }
        }
      }
    }
  },
  "components": {
    "securitySchemes": {
      "bearerAuth": {
        "type": "http",
        "scheme": "bearer"
      }
    },
    "schemas": {
      "LoginRequest": {
        "type": "object",
        "properties": {
          "identifier": {
            "type": "string",
            "example": "Haikaru"
          },
          "password": {
            "type": "string",
            "example": "1234"
          }
        },
        "xml": {
          "name": "LoginRequest"
        }
      },
      "registerRequest": {
        "type": "object",
        "properties": {
          "fullName": {
            "type": "string",
            "example": "Haikal Mabrur"
          },
          "username": {
            "type": "string",
            "example": "Haikaru"
          },
          "email": {
            "type": "string",
            "example": "me@haikaldev.my.id"
          },
          "password": {
            "type": "string",
            "example": "1234"
          },
          "confirmPassword": {
            "type": "string",
            "example": "1234"
          }
        },
        "xml": {
          "name": "registerRequest"
        }
      },
      "ActivationRequest": {
        "type": "object",
        "properties": {
          "code": {
            "type": "string",
            "example": "abcdef"
          }
        },
        "xml": {
          "name": "ActivationRequest"
        }
      }
    }
  }
}